############
## Common ##
############

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

*.md       text
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.sql      text

## DOCKER
*.dockerignore  text
Dockerfile      text

## DOCUMENTATION
*.markdown    text
*.md          text
*.mdwn        text
*.mdown       text
*.mkd         text
*.mkdn        text
*.mdtxt       text
*.mdtext      text
*.txt         text
AUTHORS       text
CHANGELOG     text
CHANGES       text
CONTRIBUTING  text
COPYING       text
copyright     text
*COPYRIGHT*   text
INSTALL       text
license       text
LICENSE       text
NEWS          text
readme        text
*README*      text
TODO          text

## GRAPHICS
*.ai    binary
*.bmp   binary
*.eps   binary
*.gif   binary
*.ico   binary
*.jng   binary
*.jp2   binary
*.jpg   binary
*.jpeg  binary
*.jpx   binary
*.jxr   binary
*.pdf   binary
*.png   binary
*.psb   binary
*.psd   binary
*.svg   text
*.svgz  binary
*.tif   binary
*.tiff  binary
*.wbmp  binary
*.webp  binary

## AUDIO
*.kar   binary
*.m4a   binary
*.mid   binary
*.midi  binary
*.mp3   binary
*.ogg   binary
*.ra    binary

## VIDEO
*.3gpp  binary
*.3gp   binary
*.as    binary
*.asf   binary
*.asx   binary
*.fla   binary
*.flv   binary
*.m4v   binary
*.mng   binary
*.mov   binary
*.mp4   binary
*.mpeg  binary
*.mpg   binary
*.ogv   binary
*.swc   binary
*.swf   binary
*.webm  binary

## ARCHIVES
*.7z   binary
*.gz   binary
*.jar  binary
*.rar  binary
*.tar  binary
*.zip  binary

## FONTS
*.ttf    binary
*.eot    binary
*.otf    binary
*.woff   binary
*.woff2  binary

## EXECUTABLES
*.exe  binary
*.pyc  binary

# Binary files
# ============
*.db   binary
*.p    binary
*.pkl  binary
*.pyc  binary
*.pyd  binary
*.pyo  binary

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).